@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #232946;
    font-size: 17px;
}
.container{
    display: grid;
    grid-template-columns: 25% 75%;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    padding-right: 200px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.aside{
    font-size: 14px;
}
#titulo h1{
    margin-top: 0%;
    font-size: 64px;
}
h2{
    font-size: 40px;
}
.contain{
    margin-left: 10%;
}
.contain h3{
    font-size: 32px;
}
#blockquote{
    color:#232946;
    font-size: 24px;
    background-color: #D4939D;
    padding: 30px;
    border-radius: 12px;
    margin: 0%;
}
#code{
    color: white;
    font-size: 16px;
    padding: 40px;
}
p, ul, ol{
    line-height: 24px;
    color: #B8C1EC;;
}
.e{
    color: white;
    font-size: 24px;
}
a:link{
    color: #EEBBC3;
}
footer{
    background-color: #EEBBC3;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 32px;
    color: #232946;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    display: inline;
    justify-content: center;
    size: 24px 24px;
}
hr{
    display: none;
}
form{
    width: 100%;

}
.formu{
    color: white;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid white;
}
#submit{
    color: #232946;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    background-color: #EEBBC3;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid white;
}