@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #232946;
    /* font-size: 17px; */
}
.container{
    display: grid;
    grid-template-columns: 25% 75%;
    /* margin-top: 110px; */
}
.aside{
    font-size: 14px;
}
#titulo h1{
    font-size: 64px;
}
h2{
    font-size: 40px;
}
.contain h3{
    font-size: 32px;
}

